$dark: #1e2029;

$red:     #FC527B;
$orange:  #FC965C;
$green:   #64DB59;
$gray-600: #a3a3a3;
$gray-400: #dfdfdf;
$greenery: #DAF7D7;
$gray-100: #f8f8f8;
$purple: #AA5AFF;// #AA5AFF;
$white: #fff;

$body-bg: #f8f8f8;
$body-color: $dark;
$font-family-sans-serif:  'Nunito Sans', sans-serif;
$min-contrast-ratio:   1;
$btn-font-weight: bold;
$primary: $purple;

$danger:        $red;
$warning:       $orange;
$success:       $green;
//$info:          $greenery;
$secondary:     $gray-600;
$light:         $gray-100;